[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "htmf-format"
authors = [{ name = "jkmnt" }]
readme = "README.md"
requires-python = ">=3.8"
license = { file = "LICENSE" }
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dynamic = ["version", "description"]
dependencies = ["cssbeautifier >=1.15.1", "jsbeautifier >=1.15.1"]

[project.urls]
Documentation = "https://jkmnt.github.com/htmf"
Source = "https://github.com/jkmnt/htmf"


[project.scripts]
htmf-format = "htmf_format:main"

[tool.ruff]
line-length = 160

[tool.ruff.lint]
select = ["E", "F", "UP", "B", "C4", "LOG", "INT"]
